body {    height: 79px;
    margin-right: 0px;
}

    #menu
    {
     width: 100%;
     margin: 0;
     padding: 10px 0 0 0;
     list-style: none;     
     background: black;
     -moz-border-radius: 50px;
     border-radius: 50px;
     -moz-box-shadow: 0 2px 1px #9c9c9c;
     -webkit-box-shadow: 0 2px 1px #9c9c9c;
     box-shadow: 0 2px 1px #9c9c9c;
    }

    #menu li
    {
     float: left;
     padding: 0 0 10px 0;
     position: relative;
     line-height: 0;
     top: 0px;
     left: 0px;
    }

    #menu a
    {
     float: left;
     height: 25px;
     padding: 0 25px;
     color: pink;
     text-transform: uppercase;
     font: bold 12px/25px Arial, Helvetica;
     text-decoration: none;
     text-shadow: 0 1px 0 #000;
    }    

    #menu li a:hover 
    {
     color: #fafafa;
    }

    #menu li:hover > ul
    {
     display: block;
    }

    #menu ul
    {
        list-style: none;
        margin: 0;
        padding: 0;
        display: none;
        position: absolute;
        top: 35px;
        left: 0;
        z-index: 99999;       
        background: linear-gradient(#444, #111);      
    }

    #menu ul ul
    {
      top: 0;
      left: 150px;
    }  
      
    #menu ul a
    {
        padding: 10px;
        height: 10px;
        width: 130px;
        height: auto;
        line-height: 1;
        display: block;
        white-space: nowrap;
        float: none;
        text-transform: none;
    }

    #menu ul a 
    {
     height: 10px;
    }

    #menu ul a
    {
     height: 10px;
    }
    
    #menu:after
    {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
    }

    .ddsanpham 
    {
        height:209px;
        width:200px;
        float:left;
        border:1px solid red;
        text-align:center;
        margin: 10px;
    }

    .ndchinh  
    {
        border:0px solid black;
        width:99%;
        margin-left: 0px;
        margin-right: auto;
        height: 1934px;
    }

    * {
      padding: 0;
    margin-right: 0;
    margin-top: 0;
}

    #menutrangchu ul {
      background: white;
      list-style-type: none;
      text-align: center;
    }

    #menutrangchu li {
      color: black;
      display: inline-block;
      width: 120px;
      height: 40px;
      line-height: 40px;
      margin-left: 0px;
    }

    #menutrangchu a {
      text-decoration: none;
      color: black;
      display: block;
    }

    #menutrangchu a:hover {
      background: #F1F1F1;
      color: #333;
    }

    

  
